# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Dataset
data/creditcard.csv
data/processed/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Environment/secrets
.env
*.env
